
<div class="container">
  <h2>Dashboard</h2>
</div>

<div class="container">
  {{#if loggedIn}}
    <p>Logged In</p>
  {{else}}
    <p>Your not currently logged in. Please login to see your dashboard.</p>
    <a href="/login" class="btn btn-primary">Login</a>
  {{/if}}
</div>